    /*.page-header {
        width: 650px;
        height: 90px;
        left: 760px;
        top: 38px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 3000;
        font-size: 96px;
        line-height: 144px;
        text-align: center;
        color: #E2309B;
    }
    */
    
    .page-header img {
        margin-top: 0px;
        width: 400px;
        height: 800px;
    }
    
    @media only screen and (max-width: 600px) {
        .page-header img {
            width: 200px;
            height: 200px;
        }
    }
    
    h1 {
        font-size: larger;
        font-weight: bold;
        font-family: Poppins;
        color: #E2309B;
        padding: 20px;
        text-align: center;
    }
    
    #foto1 {
        display: flex;
    }
    
    .form-group {
        margin-top: 35px;
        display: block;
        justify-content: center;
    }
    
    .form-group input {
        margin-right: 300px;
        border: 1.5px solid #E2309B;
        height: 40px;
        justify-content: center;
    }
    
    #data {
        font-family: Poppins;
        color: #E2309B;
        font-weight: bold;
        line-height: 54px;
        padding: 20px;
        font-size: 50px;
    }
    
    #evento {
        color: #9C3BEC;
        font-size: larger;
        font-style: initial;
        font-weight: 700;
        margin-top: 100px;
        justify-content: center;
    }
    
    .bd-placeholder-img {
        margin-left: 50px;
        display: flex;
        justify-content: space-between;
    }
    
    #palestrantes {
        display: flex;
        color: #9C3BEC;
        font-size: 36px;
        font-style: initial;
        font-weight: 700;
        margin-top: 35px;
    }
    
    h6 {
        color: #9C3BEC;
        font-size: 16rem;
        justify-content: center;
        margin-left: 60px;
    }
    
    #descrição {
        margin-left: 60px;
    }
    
    #botao {
        background-color: #E2309B;
        color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        width: 100px;
        height: 40px;
        display: block;
        justify-content: center;
    }
    
    .border {
        padding: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: black;
    }
    
    #flex {
        margin-top: 20px;
    }
    
    #online {
        font-family: Poppins;
        color: #9C3BEC;
        font-weight: bold;
        line-height: 54px;
        padding: 20px;
        font-size: 36px;
    }
    
    .temas {
        padding: 10px;
        font-family: Poppins;
    }
    
    #iniciativa {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: black;
        margin-top: 60px;
    }
    
    .rodape {
        background-color: #E72098;
    }
    
    .rodape p {
        font-family: Poppins;
        color: white;
        font-size: 15px;
        padding: 5px;
    }
    
    #rodapeimg {
        margin: auto;
        display: block;
        text-align: center;
    }
    
    .legenda {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 5px;
        text-align: center;
        color: #AAA6A8;
    }
    
    .numero {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 108px;
        margin: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    
    .contagem {
        width: 305px;
        height: 100px;
        background: #E2309B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        display: block;
        align-self: center;
        justify-self: center;
    }
    
    #contador {
        display: block;
        justify-content: right;
    }