    /*.page-header {
        width: 650px;
        height: 90px;
        left: 760px;
        top: 38px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 3000;
        font-size: 96px;
        line-height: 144px;
        text-align: center;
        color: #E2309B;
    }
    */
    
    .page-header img {
        margin-top: 0;
    }
    
    h1 {
        font-family: Poppins;
        color: #E2309B;
        font-style: initial;
        font-weight: bold;
        line-height: 54px;
        padding: 20px;
        font-size: 96px;
    }
    
    #foto1 {
        display: flex;
    }
    
    .form-group {
        margin-right: 300px;
    }
    
    #data {
        font-family: Poppins;
        color: #E2309B;
        font-weight: bold;
        line-height: 54px;
        padding: 20px;
        font-size: 50px;
    }
    
    #evento {
        color: #9C3BEC;
        font-size: larger;
        font-style: initial;
        font-weight: 700;
        margin-top: 50px;
        justify-content: center;
    }
    
    #palestrantes {
        color: #9C3BEC;
        font-size: 24PX;
        font-style: initial;
        font-weight: 700;
        margin-top: 50px;
        justify-content: center;
    }
    
    h6 {
        color: #9C3BEC;
        font-size: 16rem;
        justify-content: center;
    }
    
    .botao {
        color: purple;
    }
    
    #online {
        font-family: Poppins;
        color: #9C3BEC;
        font-weight: bold;
        line-height: 54px;
        padding: 20px;
        font-size: 36px;
    }
    
    .temas {
        padding: 10px;
    }
    
    #iniciativa {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: black;
        margin-top: 50px;
    }
    
    .rodape {
        background-color: #E72098;
    }
    
    .rodape p {
        font-family: Poppins;
        color: white;
        font-size: 15px;
    }
    
    #rodapeimg {
        display: flex;
        justify-content: center;
    }